.light-container {
    display: flex;
    flex-direction: row;
}


.van-light, .kimmi-light {
    width: 300px;
    height: 300px;
    background-image: url('leaf_2000x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20%;
    margin: 20px;
}

.van-light:hover {
    background: lightblue;
}

.kimmi-light:hover {
    background: burlywood;
}

h1 {
}