.light-container {
    display: flex;
    flex-direction: row;
}

.light {
 width: 100px;
 height: 100px;
}

.van-light {

}

.van-light:hover {
    border-style: dotted;
    border-color: blue;
}

.kimmi-light:hover {
    border-style: dotted;
    border-color: green;
}

h1 {
}