.light-container {
    display: flex;
    flex-direction: row;
}


.van-light, .kimmi-light {
    width: 300px;
    height: 300px;
    background-image: url('leaf_2000x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 37%;
    border-style: solid;
    border-color: white;
    margin: 20px;
}

.van-light:hover {
    border-style: dotted;
    border-color: blue;
}

.kimmi-light:hover {
    border-style: dotted;
    border-color: green;
}

h1 {
}